.0_3 { 
	overflow:hidden;
}.e0_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e5_3 { 
	width:1560px;
	height:916px;
	position:absolute;
	left:340px;
	top:141px;
}.e4_4 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1560px;
	height:916px;
	position:absolute;
	left:0px;
	top:0px;
}.e9_51 { 
	width:1528.6536865234375px;
	height:889px;
	position:absolute;
	left:15.673126220703125px;
	top:15px;
}.e5_2 { 
	width:1528.6536865234375px;
	height:74px;
	position:absolute;
	left:0px;
	top:0px;
}.e4_5 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1526.56396484375px;
	height:74px;
	position:absolute;
	left:0px;
	top:1px;
}.e4_6 { 
	color:rgba(102.00000151991844, 0, 0, 1);
	width:1528.6536865234375px;
	height:74px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e18_181 { 
	width:1526px;
	height:100px;
	position:absolute;
	left:2.326873779296875px;
	top:789px;
}.e18_182 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1526px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_183 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(54.06116969883442, 249.75588619709015, 50.06740540266037, 1);
	width:34px;
	height:34px;
	position:absolute;
	left:1464px;
	top:33px;
}.e18_184 { 
	width:191px;
	height:50px;
	position:absolute;
	left:1235px;
	top:25px;
}.ei18_184_18_19 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:191px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_184_18_20 { 
	color:rgba(0, 0, 0, 1);
	width:191px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_185 { 
	width:373px;
	height:50px;
	position:absolute;
	left:842px;
	top:25px;
}.ei18_185_18_17 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_185_18_18 { 
	color:rgba(0, 0, 0, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_186 { 
	transform: rotate(90deg);
	width:74px;
	height:0px;
	position:absolute;
	left:822px;
	top:13px;
}.18_186 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_187 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:50px;
	position:absolute;
	left:625px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_188 { 
	transform: rotate(90deg);
	width:74px;
	height:0px;
	position:absolute;
	left:605px;
	top:15px;
}.18_188 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_189 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:50px;
	position:absolute;
	left:366px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_190 { 
	transform: rotate(89.99999999999999deg);
	width:74px;
	height:0px;
	position:absolute;
	left:346px;
	top:13px;
}.18_190 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_191 { 
	color:rgba(0, 0, 0, 1);
	width:224px;
	height:50px;
	position:absolute;
	left:102px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_192 { 
	width:74px;
	height:74px;
	position:absolute;
	left:13px;
	top:13px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
	background-image:url(images/no_avatar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_197 { 
	width:1526px;
	height:100px;
	position:absolute;
	left:0.326873779296875px;
	top:674px;
}.e18_198 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1526px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_199 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(54.06116969883442, 249.75588619709015, 50.06740540266037, 1);
	width:34px;
	height:34px;
	position:absolute;
	left:1464px;
	top:33px;
}.e18_200 { 
	width:191px;
	height:50px;
	position:absolute;
	left:1235px;
	top:25px;
}.ei18_200_18_19 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:191px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_200_18_20 { 
	color:rgba(0, 0, 0, 1);
	width:191px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_201 { 
	width:373px;
	height:50px;
	position:absolute;
	left:842px;
	top:25px;
}.ei18_201_18_17 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_201_18_18 { 
	color:rgba(0, 0, 0, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_202 { 
	transform: rotate(90deg);
	width:74px;
	height:0px;
	position:absolute;
	left:822px;
	top:13px;
}.18_202 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_203 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:50px;
	position:absolute;
	left:625px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_204 { 
	transform: rotate(90deg);
	width:74px;
	height:0px;
	position:absolute;
	left:605px;
	top:15px;
}.18_204 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_205 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:50px;
	position:absolute;
	left:366px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_206 { 
	transform: rotate(89.99999999999999deg);
	width:74px;
	height:0px;
	position:absolute;
	left:346px;
	top:13px;
}.18_206 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_207 { 
	color:rgba(0, 0, 0, 1);
	width:224px;
	height:50px;
	position:absolute;
	left:102px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_208 { 
	width:74px;
	height:74px;
	position:absolute;
	left:13px;
	top:13px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
	background-image:url(images/no_avatar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_213 { 
	width:1526px;
	height:100px;
	position:absolute;
	left:0.326873779296875px;
	top:559px;
}.e18_214 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1526px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_215 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(54.06116969883442, 249.75588619709015, 50.06740540266037, 1);
	width:34px;
	height:34px;
	position:absolute;
	left:1464px;
	top:33px;
}.e18_216 { 
	width:191px;
	height:50px;
	position:absolute;
	left:1235px;
	top:25px;
}.ei18_216_18_19 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:191px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_216_18_20 { 
	color:rgba(0, 0, 0, 1);
	width:191px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_217 { 
	width:373px;
	height:50px;
	position:absolute;
	left:842px;
	top:25px;
}.ei18_217_18_17 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_217_18_18 { 
	color:rgba(0, 0, 0, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_218 { 
	transform: rotate(90deg);
	width:74px;
	height:0px;
	position:absolute;
	left:822px;
	top:13px;
}.18_218 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_219 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:50px;
	position:absolute;
	left:625px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_220 { 
	transform: rotate(90deg);
	width:74px;
	height:0px;
	position:absolute;
	left:605px;
	top:15px;
}.18_220 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_221 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:50px;
	position:absolute;
	left:366px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_222 { 
	transform: rotate(89.99999999999999deg);
	width:74px;
	height:0px;
	position:absolute;
	left:346px;
	top:13px;
}.18_222 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_223 { 
	color:rgba(0, 0, 0, 1);
	width:224px;
	height:50px;
	position:absolute;
	left:102px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_224 { 
	width:74px;
	height:74px;
	position:absolute;
	left:13px;
	top:13px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
	background-image:url(images/no_avatar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_101 { 
	width:1526px;
	height:100px;
	position:absolute;
	left:0.326873779296875px;
	top:444px;
}.e18_102 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1526px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_103 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(54.06116969883442, 249.75588619709015, 50.06740540266037, 1);
	width:34px;
	height:34px;
	position:absolute;
	left:1464px;
	top:33px;
}.e18_104 { 
	width:191px;
	height:50px;
	position:absolute;
	left:1235px;
	top:25px;
}.ei18_104_18_19 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:191px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_104_18_20 { 
	color:rgba(0, 0, 0, 1);
	width:191px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_105 { 
	width:373px;
	height:50px;
	position:absolute;
	left:842px;
	top:25px;
}.ei18_105_18_17 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_105_18_18 { 
	color:rgba(0, 0, 0, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_106 { 
	transform: rotate(90deg);
	width:74px;
	height:0px;
	position:absolute;
	left:822px;
	top:13px;
}.18_106 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_107 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:50px;
	position:absolute;
	left:625px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_108 { 
	transform: rotate(90deg);
	width:74px;
	height:0px;
	position:absolute;
	left:605px;
	top:15px;
}.18_108 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_109 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:50px;
	position:absolute;
	left:366px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_110 { 
	transform: rotate(89.99999999999999deg);
	width:74px;
	height:0px;
	position:absolute;
	left:346px;
	top:13px;
}.18_110 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_111 { 
	color:rgba(0, 0, 0, 1);
	width:224px;
	height:50px;
	position:absolute;
	left:102px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_112 { 
	width:74px;
	height:74px;
	position:absolute;
	left:13px;
	top:13px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
	background-image:url(images/no_avatar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_133 { 
	width:1526px;
	height:100px;
	position:absolute;
	left:0.326873779296875px;
	top:329px;
}.e18_134 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1526px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_135 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(54.06116969883442, 249.75588619709015, 50.06740540266037, 1);
	width:34px;
	height:34px;
	position:absolute;
	left:1464px;
	top:33px;
}.e18_136 { 
	width:191px;
	height:50px;
	position:absolute;
	left:1235px;
	top:25px;
}.ei18_136_18_19 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:191px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_136_18_20 { 
	color:rgba(0, 0, 0, 1);
	width:191px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_137 { 
	width:373px;
	height:50px;
	position:absolute;
	left:842px;
	top:25px;
}.ei18_137_18_17 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_137_18_18 { 
	color:rgba(0, 0, 0, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_138 { 
	transform: rotate(90deg);
	width:74px;
	height:0px;
	position:absolute;
	left:822px;
	top:13px;
}.18_138 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_139 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:50px;
	position:absolute;
	left:625px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_140 { 
	transform: rotate(90deg);
	width:74px;
	height:0px;
	position:absolute;
	left:605px;
	top:15px;
}.18_140 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_141 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:50px;
	position:absolute;
	left:366px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_142 { 
	transform: rotate(89.99999999999999deg);
	width:74px;
	height:0px;
	position:absolute;
	left:346px;
	top:13px;
}.18_142 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_143 { 
	color:rgba(0, 0, 0, 1);
	width:224px;
	height:50px;
	position:absolute;
	left:102px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_144 { 
	width:74px;
	height:74px;
	position:absolute;
	left:13px;
	top:13px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
	background-image:url(images/no_avatar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_149 { 
	width:1526px;
	height:100px;
	position:absolute;
	left:0.326873779296875px;
	top:214px;
}.e18_150 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1526px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_151 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(54.06116969883442, 249.75588619709015, 50.06740540266037, 1);
	width:34px;
	height:34px;
	position:absolute;
	left:1464px;
	top:33px;
}.e18_152 { 
	width:191px;
	height:50px;
	position:absolute;
	left:1235px;
	top:25px;
}.ei18_152_18_19 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:191px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_152_18_20 { 
	color:rgba(0, 0, 0, 1);
	width:191px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_153 { 
	width:373px;
	height:50px;
	position:absolute;
	left:842px;
	top:25px;
}.ei18_153_18_17 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_153_18_18 { 
	color:rgba(0, 0, 0, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_154 { 
	transform: rotate(90deg);
	width:74px;
	height:0px;
	position:absolute;
	left:822px;
	top:13px;
}.18_154 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_155 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:50px;
	position:absolute;
	left:625px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_156 { 
	transform: rotate(90deg);
	width:74px;
	height:0px;
	position:absolute;
	left:605px;
	top:15px;
}.18_156 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_157 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:50px;
	position:absolute;
	left:366px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_158 { 
	transform: rotate(89.99999999999999deg);
	width:74px;
	height:0px;
	position:absolute;
	left:346px;
	top:13px;
}.18_158 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_159 { 
	color:rgba(0, 0, 0, 1);
	width:224px;
	height:50px;
	position:absolute;
	left:102px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_160 { 
	width:74px;
	height:74px;
	position:absolute;
	left:13px;
	top:13px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
	background-image:url(images/no_avatar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_26 { 
	width:1526px;
	height:100px;
	position:absolute;
	left:0.326873779296875px;
	top:99px;
}.e11_10 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1526px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_27 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(54.06116969883442, 249.75588619709015, 50.06740540266037, 1);
	width:34px;
	height:34px;
	position:absolute;
	left:1464px;
	top:33px;
}.e18_28 { 
	width:191px;
	height:50px;
	position:absolute;
	left:1235px;
	top:25px;
}.ei18_28_18_19 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:191px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_28_18_20 { 
	color:rgba(0, 0, 0, 1);
	width:191px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_29 { 
	width:373px;
	height:50px;
	position:absolute;
	left:842px;
	top:25px;
}.ei18_29_18_17 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.ei18_29_18_18 { 
	color:rgba(0, 0, 0, 1);
	width:373px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_30 { 
	transform: rotate(90deg);
	width:74px;
	height:0px;
	position:absolute;
	left:822px;
	top:13px;
}.18_30 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_31 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:50px;
	position:absolute;
	left:625px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_32 { 
	transform: rotate(90deg);
	width:74px;
	height:0px;
	position:absolute;
	left:605px;
	top:15px;
}.18_32 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_33 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:50px;
	position:absolute;
	left:366px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_34 { 
	transform: rotate(89.99999999999999deg);
	width:74px;
	height:0px;
	position:absolute;
	left:346px;
	top:13px;
}.18_34 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_35 { 
	color:rgba(0, 0, 0, 1);
	width:224px;
	height:50px;
	position:absolute;
	left:102px;
	top:25px;
	font-family:PT Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e18_36 { 
	width:74px;
	height:74px;
	position:absolute;
	left:13px;
	top:13px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
	background-image:url(images/no_avatar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_89 { 
	width:300px;
	height:915px;
	position:absolute;
	left:20px;
	top:140px;
}.e4_3 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:300px;
	height:915px;
	position:absolute;
	left:0px;
	top:0px;
}.e5_106 { 
	width:230px;
	height:43px;
	position:absolute;
	left:46px;
	top:554px;
}.ei5_106_5_99 { 
	background-color:rgba(102.00000151991844, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:-20px;
	top:13px;
}.ei5_106_5_100 { 
	color:rgba(0, 0, 0, 1);
	width:216px;
	height:32px;
	position:absolute;
	left:10px;
	top:5.688889026641846px;
	font-family:PT Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e5_109 { 
	width:230px;
	height:43px;
	position:absolute;
	left:46px;
	top:504px;
}.ei5_109_5_99 { 
	background-color:rgba(102.00000151991844, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:-20px;
	top:13px;
}.ei5_109_5_100 { 
	color:rgba(0, 0, 0, 1);
	width:118px;
	height:32px;
	position:absolute;
	left:10px;
	top:5.688889026641846px;
	font-family:PT Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e5_116 { 
	width:230px;
	height:45px;
	position:absolute;
	left:45px;
	top:454px;
}.ei5_116_5_99 { 
	background-color:rgba(102.00000151991844, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:-20px;
	top:13px;
}.ei5_116_5_100 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:32px;
	position:absolute;
	left:10px;
	top:7px;
	font-family:PT Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e5_112 { 
	width:230px;
	height:45px;
	position:absolute;
	left:45px;
	top:404px;
}.ei5_112_5_99 { 
	background-color:rgba(102.00000151991844, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:-20px;
	top:13px;
}.ei5_112_5_100 { 
	color:rgba(0, 0, 0, 1);
	width:215px;
	height:32px;
	position:absolute;
	left:10px;
	top:7px;
	font-family:PT Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e5_102 { 
	width:230px;
	height:45px;
	position:absolute;
	left:45px;
	top:354px;
}.e5_99 { 
	background-color:rgba(102.00000151991844, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:-20px;
	top:13px;
}.e5_100 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:32px;
	position:absolute;
	left:10px;
	top:7px;
	font-family:PT Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e5_130 { 
	width:208px;
	height:279px;
	position:absolute;
	left:46px;
	top:40px;
}.e5_95 { 
	color:rgba(102.00000151991844, 0, 0, 1);
	width:208px;
	height:25px;
	position:absolute;
	left:0px;
	top:254px;
	font-family:PT Sans;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e5_94 { 
	width:164px;
	height:164px;
	position:absolute;
	left:22px;
	top:0px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
	background-image:url(images/no_avatar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_101 { 
	width:208px;
	height:50px;
	position:absolute;
	left:0px;
	top:189px;
}.e5_92 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:208px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.e5_93 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:27px;
	letter-spacing:0;
}.e5_90 { 
	width:1920px;
	height:115px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_66 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:115px;
	position:absolute;
	left:0px;
	top:0px;
}.e4_2 { 
	width:180px;
	height:52px;
	position:absolute;
	left:30px;
	top:32px;
	background-image:url(images/full_logo_ru_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}