.0_3 { 
	overflow:hidden;
}.e0_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e5_3 { 
	width:1560px;
	height:916px;
	position:absolute;
	left:340px;
	top:141px;
}.e4_4 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1560px;
	height:916px;
	position:absolute;
	left:0px;
	top:0px;
}.e9_51 { 
	width:1528.6536865234375px;
	height:883px;
	position:absolute;
	left:15.673126220703125px;
	top:15px;
}.e11_10 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1526px;
	height:764px;
	position:absolute;
	left:0.326873779296875px;
	top:119px;
}.e11_27 { 
	width:1044px;
	height:142px;
	position:absolute;
	left:442.3268737792969px;
	top:603px;
}.e11_19 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1044px;
	height:142px;
	position:absolute;
	left:0px;
	top:0px;
}.e11_20 { 
	color:rgba(0, 0, 0, 1);
	width:1044px;
	height:142px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e11_26 { 
	width:1044px;
	height:71px;
	position:absolute;
	left:440.3268737792969px;
	top:785px;
}.e11_21 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1044px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}.e11_22 { 
	color:rgba(0, 0, 0, 1);
	width:1044px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e11_23 { 
	width:1044px;
	height:71px;
	position:absolute;
	left:442.3268737792969px;
	top:492px;
}.e11_15 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1044px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}.e11_18 { 
	color:rgba(0, 0, 0, 1);
	width:1046px;
	height:71px;
	position:absolute;
	left:-2px;
	top:0px;
	font-family:PT Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e11_25 { 
	width:1044px;
	height:71px;
	position:absolute;
	left:442.3268737792969px;
	top:381px;
}.e11_13 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1044px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}.e11_14 { 
	color:rgba(0, 0, 0, 1);
	width:1044px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e11_24 { 
	width:1044px;
	height:71px;
	position:absolute;
	left:442.3268737792969px;
	top:270px;
}.e11_11 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1044px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}.e11_12 { 
	color:rgba(0, 0, 0, 1);
	width:1044px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e10_25 { 
	width:1044px;
	height:71px;
	position:absolute;
	left:442.3268737792969px;
	top:159px;
}.e10_23 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1044px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}.e10_24 { 
	color:rgba(0, 0, 0, 1);
	width:1044px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e9_53 { 
	width:362px;
	height:430px;
	position:absolute;
	left:40.326873779296875px;
	top:159px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
	background-image:url(images/no_avatar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_2 { 
	width:1528.6536865234375px;
	height:74px;
	position:absolute;
	left:0px;
	top:0px;
}.e4_5 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1526.56396484375px;
	height:74px;
	position:absolute;
	left:0px;
	top:1px;
}.e4_6 { 
	color:rgba(102.00000151991844, 0, 0, 1);
	width:1528.6536865234375px;
	height:74px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e5_89 { 
	width:300px;
	height:915px;
	position:absolute;
	left:20px;
	top:140px;
}.e4_3 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:300px;
	height:915px;
	position:absolute;
	left:0px;
	top:0px;
}.e5_106 { 
	width:230px;
	height:43px;
	position:absolute;
	left:46px;
	top:554px;
}.ei5_106_5_99 { 
	background-color:rgba(102.00000151991844, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:-20px;
	top:13px;
}.ei5_106_5_100 { 
	color:rgba(0, 0, 0, 1);
	width:216px;
	height:32px;
	position:absolute;
	left:10px;
	top:5.688889026641846px;
	font-family:PT Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e5_109 { 
	width:230px;
	height:43px;
	position:absolute;
	left:46px;
	top:504px;
}.ei5_109_5_99 { 
	background-color:rgba(102.00000151991844, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:-20px;
	top:13px;
}.ei5_109_5_100 { 
	color:rgba(0, 0, 0, 1);
	width:118px;
	height:32px;
	position:absolute;
	left:10px;
	top:5.688889026641846px;
	font-family:PT Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e5_116 { 
	width:230px;
	height:45px;
	position:absolute;
	left:45px;
	top:454px;
}.ei5_116_5_99 { 
	background-color:rgba(102.00000151991844, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:-20px;
	top:13px;
}.ei5_116_5_100 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:32px;
	position:absolute;
	left:10px;
	top:7px;
	font-family:PT Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e5_112 { 
	width:230px;
	height:45px;
	position:absolute;
	left:45px;
	top:404px;
}.ei5_112_5_99 { 
	background-color:rgba(102.00000151991844, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:-20px;
	top:13px;
}.ei5_112_5_100 { 
	color:rgba(0, 0, 0, 1);
	width:215px;
	height:32px;
	position:absolute;
	left:10px;
	top:7px;
	font-family:PT Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e5_102 { 
	width:230px;
	height:45px;
	position:absolute;
	left:45px;
	top:354px;
}.e5_99 { 
	background-color:rgba(102.00000151991844, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:-20px;
	top:13px;
}.e5_100 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:32px;
	position:absolute;
	left:10px;
	top:7px;
	font-family:PT Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e5_130 { 
	width:208px;
	height:279px;
	position:absolute;
	left:46px;
	top:40px;
}.e5_95 { 
	color:rgba(102.00000151991844, 0, 0, 1);
	width:208px;
	height:25px;
	position:absolute;
	left:0px;
	top:254px;
	font-family:PT Sans;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e5_94 { 
	width:164px;
	height:164px;
	position:absolute;
	left:22px;
	top:0px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
	background-image:url(images/no_avatar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_101 { 
	width:208px;
	height:50px;
	position:absolute;
	left:0px;
	top:189px;
}.e5_92 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:208px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.e5_93 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:27px;
	letter-spacing:0;
}.e5_90 { 
	width:180px;
	height:52px;
	position:absolute;
	left:30px;
	top:32px;
}.e5_91 { 
	width:180px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_66 { 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:115px;
	position:absolute;
	left:-30px;
	top:-32px;
}.e4_2 { 
	width:180px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/full_logo_ru_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}